
#main-container {
  width  : 100%;
  height : 100%;
}

#main-top-pane {

}

#app-title {
  font-size : 17pt;
}

#main-left-pane {
  width : 300px;
}

.view-pane {
  padding : 0 !important;
  margin  : 0 !important;
}

#main-right-pane {

}

#main-bottom-pane {

}

