html,
body {
  padding : 0;
  margin  : 0;
  height  : 100%;
  width   : 100%;
}

body {
  font-family : Helvetica, Segoe UI, Arial, sans-serif;
}

body:lang(ja) {
  font-family : meiryo, Helvetica, Segoe UI, Arial, sans-serif;
}

.boilerplate-view {
  padding : 0;
  margin  : 0;
  width   : 100%;
  height  : 100%;
}

.boilerplate-loading-indicator {
  display          : none;
  height           : 100%;
  width            : 100%;
  z-index          : 500;
  position         : absolute;
  top              : 0;
  left             : 0;
  overflow         : hidden;
  background-color : #fff;
}

.boilerplate--loading .boilerplate-loading-indicator {
  display    : block;
  background : url(../images/loading.gif) no-repeat center center;
}

.boilerplate--error .boilerplate-loading-indicator {
  display : block;
}

.boilerplate-loading-message {
  background  : no-repeat top center;
  padding-top : 60px;
  width       : 100%;
  position    : absolute;
  z-index     : 2;
  top         : 40%;
  left        : 0;
  text-align  : center;
}
