html,body {
	padding:0;
	margin:0;
	height:100%;
	width:100%;
	font-family:Arial,Helvetica,sans-serif;
}

#mapDiv {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}

.esriRTL label {
/*Example of a rule that will be applied if the app is viewed in a browser wtih a RTL locale like Hebrew or Arabic.*/
}
